.App {
  background-color: rgb(48, 82, 110);
  height: 100%;
  /* width: 100%; */
}
.AppContainer {
  height: 100%;
  /* padding: 20px; */
  /* background-color: rgb(125, 139, 161); */
  /* overflow: auto; */
}

