
.sidebarContainer {
    display: flex;
    height: 75%;
    /* margin: 10px; */
}
#sidebar {
    /* display: flex; */
    /* position: relative; */
    min-width: 230px;
    max-width: 230px;
    min-height: 100vh;
    background-color: rgb(184, 184, 184);
    /* z-index: 1; */
}
.leftArrow {
    padding: 10px 10px 0 0;
    text-align: right;
    
}
.leftArrow > svg {
    background-color: blue;
    border-radius: 4px;
    padding: 4px;

}
.sidebar-list {
    text-align: left;

}
.sidebar-listitem {
    padding: 12px;
}
.sidebar-header {
    display: flex;
    justify-content: flex-end;
}
#leftHeader {
    margin-top: 0;
    padding: 4px;
    font-size: 26px;
    font-weight: 600;
}


@media only screen and (max-width: 800px) {

    /* .sidebarContainer {
        visibility: hidden;
    } */
    #sidebar {
        visibility: hidden;
    }

}