.Navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 58px;
    background-color: rgb(15, 43, 85);
    box-shadow: 0px 2px 5px rgb(80, 80, 80);
}
.Navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}
.navTitle > a {
  font-weight: 600;
  font-size: 20px;
  margin-left: 6px;
  color: rgb(162, 205, 230);
  text-decoration: none;
}
img[alt='jslogo'] {
    margin-left: 20px;
    margin-right: 0;
    height: 36px;
    width: 34px;
}

@media (min-width: 769px) {
    .navButton {
      display: none;
    }
  }