
/* .headerContainer {
    width: 100%;
} */
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* width: 100%; */
    background-color: rgb(153, 153, 153);
    /* border-radius: 12px; */
}
.pageHeaders {
    font-size: 32px;
}