
.headerContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    /* margin: 10px; */
}
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(82, 189, 231);
    /* border-radius: 12px; */
}
.pageHeaders {
    font-size: 40px;
}