.aboutContainer {
    height: 100%;
}
.aboutBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: calc(14px + 2vw);
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

a.githubLink {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(14px + 2vw);
    text-decoration: none;
    color: rgb(0, 12, 187);
    margin-top: 12px;
}

.aboutTag {
    padding: 20px;
    font-size: calc(12px + 1vw);
}