.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    padding: 12px;
    background-color: rgb(203, 215, 235);
    height: 400px;
}
.aboutBody {
    text-align: center;
    margin-bottom: 10px;
    font-size: calc(14px + 2vw);
}

a.githubLink {
    text-align: center;
    font-size: calc(14px + 2vw);
    text-decoration: none;
    color: rgb(0, 12, 187);
}